<!doctype html>
<html lang="en" data-ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="./js/controllers.js"></script>
  </head>
  <body data-ng-controller="PhoneListCtrl">

    <h1>{{title}}</h1>
    <input type="text" data-ng-model="query" />
    <ul>
      <li data-ng-repeat="phone in filterFun = ( phones | filter:doneAndFilter )">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
        <p>Status: {{phone.status}}</p>
        <p>Priority: {{phone.priority}}</p>
      </li>
    </ul>
    <p>Общее колличество телефонов: {{ filterFun.length }}</p>

    <table>
      <thead>
        <th>
          <i class="glyphicon" data-ng-class="{
            'glyphicon-chevron-up': isSortUp('name'),
            'glyphicon-chevron-down': isSortDown('name')}"></i>
          <button data-ng-click="sort('name')">Name:</button>
        </th>
        <th>
          <i class="glyphicon" data-ng-class="{
            'glyphicon-chevron-up' : isSortUp('snippet'),
            'glyphicon-chevron-down' : isSortDown('snippet')}"></i>
          <button data-ng-click="sort('snippet')">Snippet:</button>
        </th>
        <th>
          <i class="glyphicon" data-ng-class="{
            'glyphicon-chevron-up' : isSortUp('status'),
            'glyphicon-chevron-down' : isSortDown('status')}"></i>
          <button data-ng-click="sort('status')">Status:</button>
        </th>
        <th>
          <i class="glyphicon" data-ng-class="{
            'glyphicon-chevron-up' : isSortUp('priority'),
            'glyphicon-chevron-down' : isSortDown('priority')}"></i>
          <button data-ng-click="sort('priority')">Priority:</button>
        </th>
      </thead>
      <tbody>
        <tr data-ng-repeat="phone in phones | orderBy:sortField:reverse">
          <td>
            <span>{{phone.name}}</span>
          </td>
          <td>
            <span>{{phone.snippet}}</span>
          </td>
          <td>
            <span>{{phone.status}}</span>
          </td>
          <td>
            <span>{{phone.priority}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <hr />
    <ol>
      <li>
        Date: {{today | date:'dd.MM.yyyy'}}
      </li>
      <li>
        Currency: {{400 | currency}}
      </li>
      <li>
        Number: {{123456.7 | number:3}}
      </li>
      <li>
        Lowercase: {{'My very long string' | lowercase}}
        Uppercase: {{'My very long string' | uppercase}}
      </li>
      <li>
        Json: <pre>{{ {'text':'text', 'text2':'text text'} | json }}</pre>
      </li>
    </ol>

  </body>
</html>
